/*------------------------------------*\
	GRIDS    
\*------------------------------------*/


/**
 * Nested Row
 */

.row .row, .row--wide{
	width: auto;
	max-width: none;
	min-width: 0;	
  	margin-left:(-$grid-spacing/2);
  	margin-right:(-$grid-spacing/2);
}

/**
 * Collapsed Row
 */

.row--collapse{

	.columns{
		padding-left: 0;
		padding-right: 0;
	} 

	.row &{
		margin-left: 0;
		margin-right: 0;
	}

}


/**
 * Grid Clearing
 */

.row{  
	@include clearfix;
}


/* Columns */

.columns {
	float: #{$dir-default};
	min-height: 1px;
	padding:0 $grid-spacing/2;
	position: relative;
}


/**
 * Column aligned centrally
 */

.column--center{
	float: none;
	margin: 0 auto;
}

/**
 * Generates grids columns
 * .one, .two....
 */

@for $i from 1 through $grid-columns{
	.#{convert-number-to-word($i)}{
		width: gridCalc($i, $grid-columns);
	}
}

/**
 * Creates Push Pull classes for alignment in mobile
 */

@for $i from 1 through $grid-columns - 1 {
	.push--#{convert-number-to-word($i)} { #{$dir-default}: gridCalc($i, $grid-columns); }
	.pull--#{convert-number-to-word($i)} { #{$dir-reverse}: gridCalc($i, $grid-columns); }
}