/*------------------------------------*\
	Grids for Phones Only
\*------------------------------------*/


@include media-query(phone){

	/**
	 * Phone - Specify number of columns
	 * <div class="columns three three--phone"></div>  => Two phone in tablet
	 */

	@for $i from 1 through $grid-columns{
		.#{convert-number-to-word($i)}#{--phone}{
			float: left;
			padding: 0 $grid-spacing/2;
			width: gridCalc($i, $grid-columns);
		}
	}
}