| ---
| name: Zebra table
| ---
table.table.table--bordered.table--zebra
	thead
		tr
			th Company
			th Q1
			th Q2
			th Q3
			th Q4
	tbody
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50