| ---
| name: Responsive table
| ---
table.table.table--bordered.table--zebra.js-table-responsive
	thead
		tr
			th Company
			th Q1
			th(data-hide='phone') Q2
			th(data-hide='tablet') Q3
			th Q4

	tbody
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
		tr
			td Microsoft
			td 20
			td 30
			td 40
			td 50
