| ---
| name: Table
| ---
table
	caption Table Caption
	thead
		tr
			th thead th
			th thead th
			th thead th

	tbody
		tr
			td tbody td
			td tbody td
			td tbody td
		tr
			td tbody td
			td tbody td
			td tbody td
		tr
			td tbody td
			td tbody td
			td tbody td

	tfoot
		tr
			th tfoot th
			th tfoot th
			th tfoot th
