| ---
| name: Color palette
| hidecode: true
| ---
ul.palette.tp
	li
		h3 Blue Bayou
		.color(style='background-color: #50597B;')
			span #50597B
		.color(style='background-color: #394264;')
			span #394264
	li
		h3 Midnight Blue
		.color(style='background-color: #272F4D;')
			span #272F4D
		.color(style='background-color: #1F253D;')
			span #1F253D
	li
		h3 Aqua green
		.color(style='background-color: #1ABC9C;')
			span #1ABC9C
		.color(style='background-color: #16A085;')
			span #16A085
	li
		h3 Athens grey
		.color(style='background-color: #EDEEF1; color: #777;')
			span #EDEEF1
		.color(style='background-color: #BDC3C7;')
			span #BDC3C7
	li
		h3 Tomato red
		.color(style='background-color: #E74C3C;')
			span #E74C3C
		.color(style='background-color: #B73729;')
			span #B73729
