| ---
| name: Datepicker with start/end dates
| ---
.js-daterange.input-daterange
	.row
		.columns.three
			.form-control.icon-right
				input.text-input(type='text', name='start', placeholder='Start date')
				em.fa.fa-calendar.fa-lg
		.columns.one.text--center To
		.columns.three
			.form-control.icon-right
				input.text-input(type='text', name='start', placeholder='End date')
				em.fa.fa-calendar.fa-lg
