| ---
| name: Grid mobile
| ---
.row.row--demo
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one
	.columns.one.one--phone one

.row.row--demo
	.columns.twelve.twelve--phone twelve

.row.row--demo
	.columns.eight.four--phone eight
	.columns.four.eight--phone four

.row.row--demo
	.columns.four.four--phone four
	.columns.four.four--phone four
	.columns.four.four--phone four

.row.row--demo
	.columns.three.three-tablet three
	.columns.three.three-tablet three
	.columns.three.three-tablet three
	.columns.three.three-tablet three

.row.row--demo
	.columns.six.six--phone six
	.columns.six.six--phone six
