| ---
| name: Grid desktop
| ---
.row.row--demo
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one
	.columns.one one

.row.row--demo
	.columns.twelve twelve

.row.row--demo
	.columns.eight eight
	.columns.four four

.row.row--demo
	.columns.four four
	.columns.four four
	.columns.four four

.row.row--demo
	.columns.three three
	.columns.three three
	.columns.three three
	.columns.three three

.row.row--demo
	.columns.six six
	.columns.six six
