| ---
| name: Grid tablet
| ---
.row.row--demo
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one
	.columns.one.one--tablet one

.row.row--demo
	.columns.twelve.twelve--tablet twelve

.row.row--demo
	.columns.eight.four--tablet eight
	.columns.four.eight--tablet four

.row.row--demo
	.columns.four.four--tablet four
	.columns.four.four--tablet four
	.columns.four.four--tablet four

.row.row--demo
	.columns.three.three--tablet three
	.columns.three.three--tablet three
	.columns.three.three--tablet three
	.columns.three.three--tablet three

.row.row--demo
	.columns.six six--tablet six
	.columns.six six--tablet six
