| ---
| name: Buttons with icons
| ---
button.btn.btn--primary(type='button', data-toggle='dropdown')
	em.fa.fa-cog.fa-lg
		| Settings
button.btn.btn--warning(type='button', data-toggle='dropdown')
	| Log out
	em.fa.fa-sign-out.fa-lg.fa-right
button.btn.btn--dark(type='button', data-toggle='dropdown')
	em.fa.fa-cog.fa-lg.fa-lone
button.btn.btn--secondary.btn--round(type='button', data-toggle='dropdown')
	em.fa.fa-cog.fa-lg.fa-lone
button.btn.btn--secondary.btn--soft(type='button', data-toggle='dropdown') Soft button
