| ---
| name: Buttons sizes
| ---
button.btn.btn--primary.btn--alpha(type='button') .alpha
button.btn.btn--primary.btn--beta(type='button') .beta
button.btn.btn--primary.btn--gamma(type='button') .gamma
