| ---
| name: Button groups
| ---
.btn-group
	button.btn.btn--secondary(type="button") Button 1
	button.btn.btn--secondary(type="button") Button 2
	button.btn.btn--secondary(type="button") Button 3

.btn-group
	button.btn.btn--primary(type="button")
		em.fa.fa-cog.fa-lg.fa-lone
	button.btn.btn--primary(type="button")
		em.fa.fa-cloud-download.fa-lg.fa-lone
	button.btn.btn--primary(type="button")
		em.fa.fa-bell.fa-lg.fa-lone