| ---
| name: Buttons secondary
| ---
input.btn.btn--secondary(type='button', value='Input type button')
button.btn.btn--secondary(type='button') Button type button
a.btn.btn--secondary(href='#') Button link
