| ---
| name: Buttons dark
| ---
input.btn.btn--dark(type="button", value="Input type button")
button.btn.btn--dark(type="button", class="btn btn--dark") Button type button
a.btn.btn--dark(href="#") Button link
