| ---
| name: Buttons primary
| ---
input.btn.btn--primary(type='button', value='Input type button')
button.btn.btn--primary(type='button') Button type button
a.btn.btn--primary(href='#') Button link
