| ---
| name: Buttons warning
| ---
input.btn.btn--warning(type='button', value='Input type button')
button.btn.btn--warning(type='button') Button type button
a.btn.btn--warning(href='#') Button link
