| ---
| name: Field sizes
| ---
.row
	.columns.one
		input.text-input(type='text', value='one')
.row
	.columns.two
		input.text-input(type='text', value='two')
.row
	.columns.three
		input.text-input(type='text', value='three')
.row
	.columns.four
		input.text-input(type='text', value='four')
.row
	.columns.five
		input.text-input(type='text', value='five')
.row
	.columns.six
		input.text-input(type='text', value='six')
.row
	.columns.seven
		input.text-input(type='text', value='seven')
.row
	.columns.eight
		input.text-input(type='text', value='eight')
.row
	.columns.eight
		input.text-input(type='text', placeholder='Default input')
		input.text-input.input-medium(type='text', placeholder='Medium input')
		input.text-input.input-large(type='text', placeholder='Large input')
