| ---
| name: Horizontal form
| ---
.row
	.columns.three
		label First name
	.columns.five
		input.text-input(type='text', placeholder='Last')
.row
	.columns.three
		label Last name
	.columns.five
		input.text-input(type='text', placeholder='Last')
.row
	.columns.three
		label Phone number
	.columns.two.six--phone
		input.text-input(type='text', placeholder='Ext')
	.columns.three.six--phone
		input.text-input(type='text', placeholder='Phone')
label Phone number
.row
	.columns.two
		input.text-input(type='text', placeholder='Extension')
	.columns.two
		input.text-input(type='text', placeholder='Country code')
	.columns.four
		input.text-input(type='text', placeholder='Phone number')
