| ---
| name: Tags pointer
| ---
ul.ui-tags.ui-tags--pointer
	li
		a(href='#') Funny
		a.tag__remove(href='#')
	li
		| Funny
		a.tag__remove(href='#')
	li
		a(href='#') Funny
		a.tag__remove(href='#')
