| ---
| name: Dropdown buttons
| ---
.dropdown
	button.btn.btn--primary(type='button', data-toggle='dropdown')
		em.fa.fa-cog.fa-lg
		| Settings
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.seperator
		li
			a(href='#') Delete
.dropdown
	button.btn.btn--primary(type='button', data-toggle='dropdown')
		em.fa.fa-cog.fa-lg.fa-lone
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.seperator
		li
			a(href='#') Delete
