| ---
| name: Dropdown split button
| ---
.btn-group
	button.btn.btn--primary(type='button') Split dropdown
	button.btn.btn--primary.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--secondary(type='button') Split dropdown
	button.btn.btn--secondary.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--default(type='button') Split dropdown
	button.btn.btn--default.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--light(type='button') Split dropdown
	button.btn.btn--light.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--dark(type='button') Split dropdown
	button.btn.btn--dark.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--warning(type='button') Split dropdown
	button.btn.btn--warning.btn--dropdown(type='button', data-toggle='dropdown')
		span.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
