| ---
| name: Dropdown on click
| ---
.dropdown
	a(href='#', data-toggle='dropdown') Dropdown link
	em.caret
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.dropdown.dropdown--hover
			a(href='#') Move to a list
			ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.dropdown.dropdown--hover
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete
.btn-group
	button.btn.btn--warning.btn--dropdown(type='button', data-toggle='dropdown')
		| Split dropdown
		span.caret &#x9;&#x9;&#x9;
	ul.ui-dropdown
		li
			a(href='#') Open
		li
			a(href='#') Edit
		li.has-dropdown
			a(href='#') Move to a list
				ul.ui-dropdown
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li
					a(href='#') List 1
				li.has-dropdown
					a(href='#') Another nested dropdown
					ul.ui-dropdown
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
						li
							a(href='#') List 1
		li.seperator
		li
			a(href='#') Delete