.tapestry-wrapper
	.container
		//h1.pattern__title Change log
		ul
			li
				h4 1.03 (13-12-2013)
				ul
					li Added colour swatches
					li Added search functionality
			li
				h4 1.02 (01-12-2013)
				ul
					li Form fields updated with new design and layout
			li
				h4 1.01 (20-11-2013)
				ul
					li New components added - calculator, Footer, Content box, News block
					li Added new section for templates
			li
				h4 1.0 (11-11-2013)
				ul
					li Added Patterns
