// Hero Module
.ui-module-hero-tapestry
	.container

		p
			img(src="assets/images/mascot.png", alt="")
		h1 Tapestry Pattern Library App
		hr.rule.rule--light
		p.text--lead
			| An app for creating and managing your front-end pattern library.
		
		a.btn-download(href="https://github.com/PebbleRoad/tapestry") View on Github
// / Hero Module


.container

	ul.tapestry-features
		li
			h3 Easily create and manage patterns
			p Create your patterns in markdown and drop the files into the Tapestry directory to update the interface.
		li
			h3 Browseable interface
			p Browse or search patterns by elements, components and templates. View examples, instructions and code samples.
		li
			h3 Free and open source
			p Make Tapestry your own. Download it on Github, install it on your machine and start adding patterns.

