.tapestry-wrapper.ext.tp
	
	.container.tp
		
		.main-content

			div(preview-only patterns="patterns")

			ul.pattern-list.tp
				li(ng-repeat="pattern in patterns.children")
					
					h3(id="{{pattern.name | anchor}}", once-text="pattern.name")
					
					div(preview-only patterns="pattern")

					div.pattern-variation.tp(ng-repeat="variation in pattern.children")
						h4(id="{{variation.name | anchor}}", once-text="variation.name")