| ---
| name: Alert success
| description: |
|   ### What
|   Page­ level information or service alert. Critical updates with a defined time period should be pushed using the alert box.
|   
|   ### Use when
|   For page­level critical updates.
| ---
.ui-alert.ui-alert--success
	.alert__title This is a success alert
		.alert__body More body text
		a.alert_close(href='#')
