| ---
| name: Tabs box
| ---
// Tabs
.ui-tabs.ui-tabs.ui-tabs--bordered
	nav
		a.tab__handle.active(href='#Tab-1') POPULAR
		a.tab__handle(href='#Tab-2') MOST SHARED
		a.tab__handle(href='#Tab-3') NEWEST
	#Tab-1.tab
		h3 Popular
		p
			| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the.
	#Tab-2.tab
		h3 Most shared
		p
			| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the.
	#Tab-3.tab
		h3 Newest
		p
			| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the.
