| ---
| name: Keyword search
| description: |
|   ### What
|   Search box with no auto&shy;suggest for a quick keyword search.
|   
|   ### Use when
|   The search box is a secondary way of finding information.
| ---
.form-control
	input.text-input(type='text', placeholder='Search')
	button.btn.btn--unstyled
		em.fa.fa-search.fa-lg
