| ---
| name: Search listing
| ---
ul.list--block
	li
		h4
			a(href='#') Title of the page
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	li
		h4
			a(href='#') Title of the page
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	li
		h4
			a(href='#') Title of the page
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	li
		h4
			a(href='#') Title of the page
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	li
		h4
			a(href='#') Title of the page
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
