
<!-- Hero Module-->
<div class="ui-module-hero-tapestry">
  <div class="container">
    <p><img src="assets/images/mascot.png" alt=""/></p>
    <h1>Tapestry Pattern Library App</h1>
    <hr class="rule rule--light"/>
    <p class="text--lead">An app for creating and managing your front-end pattern library.</p><a href="https://github.com/PebbleRoad/tapestry" class="btn-download">View on Github</a>
  </div>
</div>
<!-- / Hero Module-->
<div class="container">
  <ul class="tapestry-features">
    <li>
      <h3>Easily create and manage patterns</h3>
      <p>Create your patterns in markdown and drop the files into the Tapestry directory to update the interface.</p>
    </li>
    <li>
      <h3>Browseable interface</h3>
      <p>Browse or search patterns by elements, components and templates. View examples, instructions and code samples.</p>
    </li>
    <li>
      <h3>Free and open source</h3>
      <p>Make Tapestry your own. Download it on Github, install it on your machine and start adding patterns.</p>
    </li>
  </ul>
</div>