
<div class="tapestry-wrapper ext">
  <div class="container">
    <div class="main-content">
      <div preview-only="preview-only" patterns="patterns"></div>
      <ul class="pattern-list">
        <li ng-repeat="pattern in patterns.children">
          <h3 id="{{pattern.name | anchor}}" once-text="pattern.name"></h3>
          <div preview-only="preview-only" patterns="pattern"></div>
          <div ng-repeat="variation in pattern.children" class="pattern-variation">
            <h4 id="{{variation.name | anchor}}" once-text="variation.name"></h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>