
<div class="tapestry-wrapper">
  <div class="container">
    <div class="tapestry-menu-side">
      <ul ng-show="patterns.children.length &gt; 1">
        <li ng-repeat="pattern in patterns.children"><a data-target="#{{pattern.name | anchor}}" ng-href="#/{{rootSection}}/{{sectionSlug}}/{{pattern.name | anchor}}" once-text="pattern.name" ng-class="{active: anchor(pattern.name) == subSection}"></a></li>
      </ul>
    </div>
    <div class="main-content">
      <div preview-and-markup="preview-and-markup" patterns="patterns"></div>
      <ul class="pattern-list">
        <li ng-repeat="pattern in patterns.children">
          <h3 id="{{pattern.name | anchor}}" once-text="pattern.name"></h3>
          <div preview-and-markup="preview-and-markup" patterns="pattern"></div>
          <div ng-repeat="variation in pattern.children" class="pattern-variation">
            <h4 id="{{variation.name | anchor}}" once-text="variation.name"></h4>
            <div preview-and-markup="preview-and-markup" patterns="variation"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>