| ---
| name: Panel
| ---
.ui-panel
	.panel__title
		h4 This is a panel title
	.panel__body
		p
			| This is a big size paragraph. Beauty in design is not found by adding prettiness to a bold, functional design, it&rsquo;s adding detail to the essence, so the functional
			strong logic
			| becomes more humane, refined, and clear. As Edward Tufte said: &ldquo;To clarify, add detail.&rdquo; The style for this text is strong. There is an emphasis on this sentence.
