| ---
| name: Hero content
| ---
.ui-module.ui-module-hero
	h1 Someday I will be the most powerful Jedi ever.
	p.text--sub
		| A daring pilot and a skilled warrior, Anakin&apos;s confidence is his greatest asset, and, at times, also his greatest liability.
	a.btn.btn--primary.btn--large.btn--alpha(href='#') PLAY NOW
