| ---
| name: Pagination
| ---
ul.ui-pagination
	li
		a(href='#book-a')
			em.fa.fa-long-arrow-left.fa-lg.fa-lone
	li.active
		a(href='#book-b') 1
	li
		a(href='#book-b') 2
	li
		a(href='#book-b') 3
	li
		a(href='#book-b') 4
	li
		a(href='#book-b') 5
	li
		a(href='#book-b') 6
	li
		a(href='#book-b') 7
	li
		a(href='#book-b') 8
	li
		a(href='#book-b')
			em.fa.fa-long-arrow-right.fa-lg.fa-lone
