| ---
| name: Accordion
| description: |
|   ### What
|   Puts modules of content into a linear stack of panels that can be closed and opened independently of each other. The accordion also helps in shortening a page and making it more scannable.
|   
|   ### Use when
|   The content modules are mutually exclusive. Content modules can consist of a list of items, links or text blocks.
| ---
// Accordion
.ui-accordion
	.accordion__header Accordion item 1
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,
	.accordion__header Accordion item 3
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,
	.accordion__header Accordion item 3
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,
