| ---
| name: Accordion bordered
| ---
// Accordion
.ui-accordion.ui-accordion--bordered
	.accordion__header Accordion item 1
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,
	.accordion__header Accordion item 3
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,
	.accordion__header Accordion item 3
	.accordion__content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporial incididunt ut labore et dolore magna aliqua. At enim ad minim veniam,