| ---
| name: Wizard
| ---
ul.ui-wizard
	li.wizard__done
		span.wizard__step 1
		span.wizard__status
		| Add friends
	li.wizard__active
		span.wizard__step 2
		span.wizard__status
		| Find friends
	li
		span.wizard__step 3
		span.wizard__status
		| Profile information
	li
		span.wizard__step 4
		span.wizard__status
		| Join a network
