<!DOCTYPE html>
<html lang="en" ng-app="tapestry" class="no-js tapestry menu__opened">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="&apos;Nova PL and SG - &apos; + section">Nova PL and SG</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Your CSS File	-->
    <link rel="stylesheet" href="external/css/main.css">
    <!-- / Your CSS File-->
    <link rel="stylesheet" href="assets/css/app/tapestry.css">
    <link rel="stylesheet" href="bower_components/prism/themes/prism.css">
    <!--link(rel='stylesheet', href='bower_components/dropzone/downloads/css/basic.css')       -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
    <script src="bower_components/modernizr/modernizr.js"></script>
  <script id="jsonPath">var jsonPath = [{name: "NovaElements", path: "json/1.NovaElements.json"},{name: "NovaComponents", path: "json/2.NovaComponents.json"},{name: "NovaTemplates", path: "json/3.NovaTemplates.json"}]</script></head>
  <body>
    <!-- Menu-->
    <nav class="tapestry-menu">
      <h3 class="menu__header">Introduction</h3>
      <ul>
        <li ng-class="{active: section==&apos;Overview&apos;}"><a href="#!/">Overview</a></li>
      </ul>
      <div ng-repeat="style in styles">
        <h3 once-text="style.name" class="menu__header"></h3>
        <ul>
          <li ng-repeat="element in style.data" ng-class="{&apos;active&apos;: element.slug == sectionSlug}" once-show="element.children.length"><a once-href="&apos;#!/&apos;+style.slug+&apos;/&apos;+element.slug" once-text="element.name"></a></li>
        </ul>
      </div>
    </nav>
    <!-- / Menu-->
    <header ng-controller="headerController" class="tapestry-header">               
      <h3 ng-bind="section" class="tapestry__heading"></h3>
      <button ng-click="toggleMenu($event)" class="btn btn--unstyled btn--toggle"><em class="fa fa-bars"></em></button>
      <div action="" class="form-control icon-left">
        <input type="text" placeholder="Search patterns" name="section" class="text-input input-inverted js-pattern-search"><em class="fa fa-search fa-lg"></em>
      </div>
    </header>
    <!-- Content-->
    <div class="tapestry-content">
      <div ng-view=""></div>
      <div class="container">
        <div class="row">
          <div class="columns ten twelve--tablet column--center">
            <footer class="tapestry__footer">
              <!--p Designed and built by the folks at-->
              <!--p
              a(href="http://pebbleroad.com")
               img(src="assets/images/logo.png", alt="", width="187")
              -->
              <p>Code licensed under MIT, documentation under CC BY 3.0. <br>Version <span tapestry-version=""></span>. Last Updated on <span last-updated=""></span>. <a href="#!/changelog">Changelog</a></p>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- jQuery-->
    <!-- Autocomplete-->
    <script src="bower_components/jQuery-Autocomplete/src/jquery.autocomplete.js"></script>
    <!-- Autocomplete-->
    <!-- Parsers-->
    <script src="bower_components/js-yaml/js-yaml.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <!-- PrismJS code highlighter-->
    <script src="bower_components/prism/prism.js"></script>
    <!-- Patterns-->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-once/once.js"></script>
    <script src="assets/js/app/controllers.js"></script>
    <script src="assets/js/app/directives.js"></script>
    <script src="assets/js/app/filters.js"></script>
    <script src="assets/js/app/services.js"></script>
    <script src="assets/js/app/scrollspy.js"></script>
    <script src="assets/js/app/app.js"></script>
    <!-- / Patterns-->
    <!-- Your JS Files-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
    <script src="external/js/components/tapestry.ui.tabs.js"></script>
    <script src="external/js/components/tapestry.ui.dropdown.js"></script>
    <script src="external/js/components/tapestry.ui.accordion.js"></script>
    <script src="bower_components/Selecter/jquery.fs.selecter.js"></script>
    <script src="bower_components/dropzone/downloads/dropzone.js"></script>
    <script src="bower_components/jQuery-Autocomplete/src/jquery.autocomplete.js"></script>
    <script src="bower_components/tipsy/src/javascripts/jquery.tipsy.js"></script>
    <script src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script src="bower_components/owlcarousel/owl-carousel/owl.carousel.js"></script>
    <script src="bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="bower_components/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="external/js/app.js"></script>
    <!-- / Your JS Files-->
<script type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
</body>
</html>