@charset "UTF-8";
/*------------------------------------*\
    MAIN.CSS
\*------------------------------------*/

/**
 * CSS Guidelines: https://github.com/csswizardry/CSS-Guidelines
 * Naming Convention: https://github.com/csswizardry/CSS-Guidelines#naming-conventions
 * 
 * BEM Methodology: 
 * ----------------
 * http://bem.info/
 * http://coding.smashingmagazine.com/2012/04/16/a-new-front-end-methodology-bem/
 * http://nicolasgallagher.com/about-html-semantics-front-end-architecture/
 * 
 * .block{} 
 * .block__element{}
 * .block--modifier{}
 * 
 * .block represents the higher level of an abstraction or component.
 * .block__element represents a descendent of .block that helps form .block as a whole.
 * .block--modifier represents a different state or version of .block.
 */


/**
 * Setup
 */


@import "bourbon/bourbon";

/**
 * Import Variables
 */

@import "tapestry/modules/variables";

/**
 * Import Inuit
 */

@import "inuit/inuit";


/**
 * She's all yours, cap'n... Begin importing your stuff here.
 */

@import "tapestry/tapestry";